[submodule "apps/car_control"]
	path = apps/car_control
	url = https://github.com/kianwasabi/car_control.git
[submodule "apps/car_info"]
	path = apps/car_info
	url = https://github.com/kianwasabi/car_info.git
[submodule "apps/Flutter_Dashboard"]
	path = apps/Flutter_Dashboard
	url = https://github.com/Lagavulin9/Flutter_Dashboard.git
[submodule "apps/Flutter_Head-Unit"]
	path = apps/Flutter_Head-Unit
	url = https://github.com/Lagavulin9/Flutter_Head-Unit.git
[submodule "apps/can_receiver"]
	path = apps/can_receiver
	url = https://github.com/SeungWoo-L/can_receiver.git
